<h1>All users</h1>

<%= will_paginate %>

<ul  class="users">

  # The following 3 blocks do the same thing.
  # They do it with less code progressively

  <%# @users.each do |user| %>
    <%#=  render 'user', :user => user %>
  <%# end %>

    <%# @users.each do |user| %>
    <%#=  render user %>
    <%# end %>

    <%=  render @users %>

</ul>

<%= will_paginate %>